<div id="registerFormContainer" class="container" *ngIf="!isWaiting else waiting">
  <div class="row mx-0" *ngIf="!isSuccess else success">
    <div class="col-md-4 py-5">
      <h2 class="text-secondary">Şifremi Unuttum</h2>
      <hr>
      <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <div class="mb-3">
          <label class="form-label">Öğrenci E-postası</label>
          <input type="email" class="form-control" formControlName="email">
          <div class="alert alert-danger" *ngIf="email!.invalid && (email!.dirty)  && email.value.length">
            <p>Geçersiz E-posta</p>
            <p>Örnek: 123456789@ogr.alanya.edu.tr</p>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="forgotForm.invalid">Şifremi Sıfırla</button>
      </form>
    </div>
  </div>
</div>

<ng-template #waiting>
  <div class="text-center">
    <div class="spinner-border text-primary mx-auto" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</ng-template>

<ng-template #success>
  <div class="text-center">
    <b>Mail gönderildi. Şifrenizi sıfırlamak için e-posta kutunuzu kontrol ediniz...</b>
  </div>
</ng-template>
