<div id="registerFormContainer" class="container" *ngIf="!isSuccess else success">
  <div class="row mx-0">
    <div class="col-md-4 py-5">
      <h2 class="text-secondary">Şifre Sıfırla</h2>
      <hr>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label class="form-label">Şifre</label>
          <input type="password" class="form-control" formControlName="password">
          <div class="alert alert-danger" *ngIf="password!.invalid && (password!.dirty )">
            <p *ngIf="password!.errors?.['required']">Required</p>
            <div *ngIf="password!.errors?.['pattern']">
              <ul class="m-0">
                <li>5 Karakter</li>
                <li>Bir küçük harf</li>
                <li>Bir büyük harf</li>
                <li>Rakam</li>
                <li>Özel karakter</li>
              </ul>
              İçermelidir
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Şifre Tekrar</label>
          <input type="password" class="form-control" formControlName="rePassword">
          <div class="alert alert-danger" *ngIf="!isRePasswordTrue()">
            Girilen şifreler aynı olmalıdır.
          </div>
        </div>

        <button type="submit" class="btn btn-primary"
          [disabled]="resetPasswordForm.invalid || !isRePasswordTrue()">Şifremi Sıfırla</button>
      </form>
    </div>
  </div>
</div>

<ng-template #success>
  <div class="text-center">
    <div>
      Şifreniz başarılı bir şekilde değiştirildi.
      <br>
      Yönlendiriliyorsunuz...
    </div>
    <div class="spinner-border text-primary mx-auto" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</ng-template>
